<!-- Footer -->
<footer class="footer-one iq-bg-dark iq-over-dark-90" id="contact">
  <div class="container">
    <!-- Address -->
    <div class="footer-top">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ">
          <p class="footer-logo"><img alt="img" src="{{ logoImg }}" width="160"></p>
          <!-- <p class="footer-logo">It is a long established fact that a reader will be distracted by the readable content.</p> -->
          <ul class="info-share d-inline list-inline">
            
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0">
          <h4 class="footer-title">Menu</h4>
          <div class="menu-footer-menu-container">
            <ul class="menu">
              <li class="menu-item"><a routerLink="/home" aria-current="page">Home</a></li>
              <li class="menu-item"><a routerLink="/strategy">Strategy</a></li>
              <li class="menu-item"><a routerLink="/portfolio">Portfolio</a></li>
              <!-- <li class="menu-item"><a routerLink="/pages/client">Our Team</a></li> -->
              <!-- <li class="menu-item"><a routerLink="/services/artificial-intelligence">Responsibility</a></li> -->
              <!-- <li class="menu-item"><a routerLink="/pages/career">Contact Us</a></li> -->

            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mt-lg-0 mt-4">
          <h4 class="footer-title iq-rmt-30">About us</h4>
          <div class="menu-footer-menu-container">
            <ul class="menu">
              <li class="menu-item"><a routerLink="/ourteam" aria-current="page">Our Team</a></li>
              <li class="menu-item"><a routerLink="/responsibility">Responsibility</a></li>
              <!-- <li class="menu-item"><a routerLink="/pages/career">Limited Partners</a></li> -->
              <!-- <li class="menu-item"><a routerLink="/pages/client">Our Team</a></li> -->
              <!-- <li class="menu-item"><a routerLink="/services/artificial-intelligence">Responsibility</a></li> -->
              <!-- <li class="menu-item"><a routerLink="/pages/career">Contact Us</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-0 mt-4">
          <h4 class="footer-title iq-rmt-30">Contact</h4>
          <div class="menu-footer-menu-container">
            <ul class="menu">

          <li class="menu-item"><a routerLink="/pages/contact-us">Contact Us</a></li>
          <li class="menu-item"><a routerLink="/disclaimers">Disclaimers</a></li>

        </ul>
      </div>
          <ul class="iq-contact">
            <!-- <li><a href="tel:{{ contactInfo.contactNumber }}"><i class="fa fa-phone"></i><span>{{ contactInfo.contactNumber }}</span></a></li> -->
            <!-- <li><a href="mailto:{{ contactInfo.email }}"><i class="fa fa-envelope"></i><span>email</span></a></li> -->
            <!-- <li></li> -->
            <!-- <li><a><i class="fa fa-home"></i><span>1234 North Avenue Luke Lane, South Bend, IN 360001</span></a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <!-- Address END -->
    <div class="copyright-footer">
      <div class="pt-3 pb-3">
        <div class="row flex-row-reverse justify-content-between">
          <div class="col-lg-12 col-md-12 text-lg-center text-md-center text-center"><span class="copyright">Copyright 2022 <a routerLink="/landing-page1">Digital Alpha Advisors LLC</a></span></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End-->
