<section class="pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 pr-3">
                <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
            </div>
            <div class="col-lg-8 align-self-center">
                <p class="mb-0">Deep domain expertise, disciplined investment approach, passion for building platforms with industry leading teams.
                </p>
            </div>
        </div>
    </div>
</section>