<section class="position-relative">
    <img height="625" width="866" src="./assets/images/about-us/social.jpg"  class="about-box-img " alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"> </div>
            <div class="col-lg-6 wow fadeInUp align-items-center">
                <div class="title-box wow fadeInUp text-left">
                    <span class="title-design">About us</span>
                    <h2>Purpose</h2>
                    <p>At Digital Alpha (“DA”) we believe that our fiduciary responsibility requires careful consideration of the impact our investments can have on environmental, social and governance (“ESG”) matters. DA believes a tailored approach to ESG issues for each of our portfolio companies will create value for not only our LPs, but for many other stakeholders.
                    </p>
                    <p>DA appreciates that tracking, collecting and reporting on ESG requires significant resources, however, we see that the incorporation of ESG is way of creating longer term sustainable growth for our portfolio companies. DA’s investments are predominantly ‘green’; developing technology and jobs related to the mission critical infrastructure needed in today’s modern world.

                    </p>
                </div>
                <div class="text-left">
                    <app-check-list [lists]="checkList1"></app-check-list>
                </div>
                <div class=" text-left mt-5 ">
                    <a class="button button-icon" routerLink="/about-us"> <span class="btn-effect"> View Details</span> </a>
                </div>
            </div>
        </div>
    </div>
</section>